<?xml version="1.0"?>
<config>
    <modules>
        <Devils_Pro>
            <version>0.1.0</version>
        </Devils_Pro>
    </modules>
    <global>
        <blocks>
            <devils_pro>
                <class>Devils_Pro_Block</class>
            </devils_pro>
        </blocks>
        <!--
        <resources>
            <devils_pro_setup>
                <setup>
                    <module>Devils_Pro</module>
                </setup>
            </devils_pro_setup>
        </resources>
        <models>
            <devils_pro>
                <class>Devils_Pro_Model</class>
                <resourceModel>devils_pro_resource</resourceModel>
            </devils_pro>
            <devils_pro_resource>
                <class>Devils_Pro_Model_Resource</class>
                <entities>
                    <pro_source>
                        <table>devils_pro_customer_entity</table>
                    </pro_source>
                </entities>
            </devils_pro_resource>
        </models>
        <helpers>
            <devils_pro>
                <class>Devils_Pro_Helper</class>
            </devils_pro>
        </helpers>
        -->
        <!--
        <rewrite>
            <pro_url>
                <from><![CDATA[/pro\/step(\d+)\/(\d+)]]></from>
                <to>pro/index/step$1/handler/$2</to>
            </pro_url>
        </rewrite>
        -->
    </global>
    <frontend>
        <!--
        <routers>
            <devils_pro>
                <use>standard</use>
                <args>
                    <module>Devils_Pro</module>
                    <frontName>pro</frontName>
                </args>
            </devils_pro>
        </routers>
        <default>
            <router>devils_pro</router>
        </default>
        -->
        <layout>
            <updates>
                <devils_pro>
                    <file>devils/pro.xml</file>
                </devils_pro>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Devils_Pro after="Mage_Adminhtml">Devils_Pro_Adminhtml</Devils_Pro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <devils_pro>
                    <file>devils/pro.xml</file>
                </devils_pro>
            </updates>
        </layout>
    </adminhtml>
    -->
</config>